<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email">
      <a href="/why-digital-matters/" ><strong>Why Digital Matters? </strong></a>
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="/why-digital-matters/" ><strong>Read more ...</strong></a>
      </div>
    {% endif %}
</div>
