<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="/">
        {% if site.logo.desktop %}
          <img width="{{ site.logo.desktop_width }}" height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" />
        {% else %}
          <h3>{{ site.title }}</h3>
        {% endif %}
      </a>
    </div>
    <div class="logo-mobile">
      <a href="/">
        {% if site.logo.mobile %}
          <img width="{{ site.logo.mobile_width }}" height="{{ site.logo.mobile_height }}" alt="{{ site.title }}" src="{{ site.logo.mobile | relative_url }}" />
        {% else %}
          <h3>{{ site.title }}</h3>
        {% endif %}
      </a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
