
<div class="strip">
    <div class="container pt-6 pb-6">
        <div class="row">
            {% for project in site.projects %}
            <div class="col-12 col-md-6 mb-3">
                <div class="service service-summary">
                    <div class="service-content">
                        <h2 class="service-title">
                            <a href="{{ project.url | relative_url }}">{{ project.title }}</a>
                        </h2>
                        <p>{{ project.content | markdownify | strip_html | truncate: 100 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>