
<div class="strip">
    <div class="container pt-6 pb-6">
        <div>
            <h2 class="text-center">Projects</h2>
            <p class="text-center">The following projects are currently active.</p>
        </div>
        <div class="row">
            {% assign projects = site.projects | sort: "order" %}
            {% for project in projects %}
            <div class="col-12 col-md-6 mb-3">
                <div class="service service-summary">
                    <div class="service-content">
                        <h2 class="service-title">
                            <a href="{{ project.url | relative_url }}">{{ project.title }}</a>
                        </h2>
                        <p>{{ project.content | strip_html | markdownify | truncate: 100 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>