{% for supervisor in promoted_supervisors %}
<div class="col-12 col-md-12 mb-2">
    <div class="team team-summary team-summary-large">
        {% if supervisor.image %}
        <div class="team-image">
            <a href="{{ supervisor.url | relative_url }}">
                <img width="160" height="160" alt="{{ supervisor.title }}" class="img-fluid mb-2" src="{{ supervisor.image | relative_url }}" />
            </a>
        </div>
        {% endif %}
        <div class="team-meta">
            <h2 class="team-name"><a href="{{ supervisor.url | relative_url }}">{{ supervisor.title }}</a></h2>
            <p class="team-main-position">{{ supervisor.main_position }}</p>
            {% if supervisor.main_domain %}
            <p class="team-main-domain">{{ supervisor.main_domain }}</p>
            {% endif %}
            {% if supervisor.linkedinurl %}
            <p style="margin: 0;">
                <a href="{{ supervisor.linkedinurl }}" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a class="team-social-url" target="_blank" href="{{ supervisor.linkedinurl }}" rel="noreferrer">LinkedIn</a>
            </p>
            {% endif %}
        </div>
        <div class="team-content">{{ supervisor.content | truncate: 360 }} <a href="{{ supervisor.url | relative_url }}">[...]</a></div>
    </div>
</div>
{% endfor %}