{% for supervisor in academic_supervisors %}
<div class="col-12 col-md-6 mb-3">
    <div class="team team-summary">
        {% if supervisor.image %}
        <div class="team-image">
            <a href="{{ supervisor.url | relative_url }}">
                <img width="90" height="90" alt="{{ supervisor.title }}" class="img-fluid mb-2" src="{{ supervisor.image | relative_url }}" />
            </a>
        </div>
        {% endif %}
        <div class="team-meta">
            <h2 class="team-name"><a href="{{ supervisor.url | relative_url }}">{{ supervisor.full_name }}</a></h2>
            <p class="team-title">{{ supervisor.title }}</p>
            {% if supervisor.subtitle %}
            <p class="team-subtitle">{{ supervisor.subtitle }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}